@model Domain.Account

@{
    ViewBag.Title = "GetAccount";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>GetAccount</h2>

<fieldset>
    <legend>Account</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditAccount", new { accountId=Model.Id }) |
    @Html.ActionLink("Back to List", "GetAccounts")
</p>
