@model Domain.Account

@{
    ViewBag.Title = "AddAccount";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="signup">
    <div class="header">
        <h2>Sign up</h2>
    </div>
    <div class="signup_form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <div class="editor">
                    <span class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </span>
                    <span class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </span>
                </div>
                
                <div class="editor">
                    <span class="editor-label">
                        @Html.LabelFor(model => model.EmailAddress)
                    </span>
                    <span class="editor-field">
                        @Html.EditorFor(model => model.EmailAddress)
                        @Html.ValidationMessageFor(model => model.EmailAddress)
                    </span>
                </div>
                <div class="editor">
                    <span class="editor-label">
                        @Html.LabelFor(model => model.Password)
                    </span>
                    <span class="editor-field">
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </span>
                </div>
                <p>
                    <input class="button primary" type="submit" value="Sign up" />
                </p>
</fieldset>
        }
    </div>
</div>