@model DesktopApp.Model.StartQuickGameModel

@{
    ViewBag.Title = "StartQuickGame";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Quick match</h2>

@using (Html.BeginForm())
{
    <label for="gametype">Game type:</label>
    <select name="gameType">
        @foreach (var gameType in Model.GameTypes)
        {
            <option value="@gameType.Id">@gameType.Name</option>
        }
    </select>
    
    <label for="player1">Player 1:</label>
    <select name="playerOne">
        @foreach (var player in Model.Accounts)
        {
            <option value="@player.Id">@player.Name</option>
        }
    </select>
    
    <label for="player2">Player 2:</label>
    <select name="playerTwo">
        @foreach (var player in
            Model.Accounts)
        {
            <option value="@player.Id">@player.Name</option>
        }
    </select>

    <input type="submit" value="Start" />
}


